@use './variables' as *;
@use 'sass:map';

@mixin max-media($breakpoint) {
    $size: map.get($media-sizes, $breakpoint);

    @media (max-width: $size) {
        @content;
    }
}

@mixin container-desktop {
    margin: 0 auto;
    padding: 0 $desktop-fields;
    max-width: $max-width-container;

    @include max-media('xl') {
        margin: 0 auto;
        padding: 0 $mobile-fields;
        max-width: $max-width-container;
    }
}

@mixin wrap-text($line-clamp) {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: $line-clamp;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
}

@mixin mini-listings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2.1rem;
    column-gap: 1.5rem;
}

@mixin input-A11y {
    transition: all 0.3s ease;

    &:hover {
        border-color: $border-hover;
    }

    &:focus {
        border-color: $primary;

        &:hover {
            box-shadow: inset 0 0 0px 1px $primary;
        }
    }
}

@mixin white-input-A11y {
    transition: all 0.3s ease;

    &:hover {
        background-color: $border;
    }

    &:focus-visible {
        box-shadow: inset 0 0 0 2px $accent-black;
    }
}

@mixin secondary-input-A11y {
    transition: all 0.3s ease;

    &:hover {
        background-color: $secondary-hover;
    }

    &:focus-visible {
        outline: 1px solid $secondary;
        box-shadow: inset 0 0 0 2px $accent-white;
    }
}

@mixin hover-card {
    transition: all 0.3s ease;
    outline: 2px solid transparent;

    &:hover {
        outline-color: $primary;
    }
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 4px;
    }
}
